<mat-card class="w-100p h-centered">
  <mat-card-header>Dashboard</mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="150px">
      <mat-grid-tile>
        <a href="/new">
          <i class="material-icons icon-md" matTooltip="Add new Expense">
            add
          </i>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <i class="material-icons icon-md" matTooltip="List operations">
          list
        </i>
      </mat-grid-tile>
      <mat-grid-tile>
        <i class="material-icons icon-md" matTooltip="Charts">
          pie_chart
        </i>
      </mat-grid-tile>
      <mat-grid-tile>
        <i class="material-icons icon-md" matTooltip="My account">
          account_box
        </i>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>