@media ( max-width : 640px) {
	* {
		box-sizing: border-box;
	}

	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */
	body {
	    width: inherit;
		margin: 0 auto;
		padding: 0;
	}

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
	img, table, td, blockquote, code, pre, textarea, input, iframe, object,
		embed, video {
		max-width: 100%;
	}

	/* conserver le ratio des images */
	img {
		height: auto;
	}

	/* gestion des mots longs */
	textarea, table, td, th, code, pre, samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	code, pre, samp {
		white-space: pre-wrap;
		/* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
	.element1, .element2 {
		float: none;
		width: auto;
	}

	/* masquer les éléments superflus */
	.hide_mobile {
		display: none !important;
	}

	/* Un message personnalisé */
	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
}

@media ( max-device-width :768px) and (orientation: landscape) {
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

.list-item {
	font-size: 18px;
	text-align: center
}

.text-currency {
	font-size: 10px;
}

.text-description {
	font-size: 10px;
}

.text-discrete {
	color: #999999;
	font-style: italic;
	font-size: 9px;
}

.text-amount-negative {
	color: red;
}

.text-amount-positive {
	color: green;
}

.small-button {
	width: 12px;
	height: 12px;
}

.item-type-icon {
	max-width: 32px;
	max-height: 32px;
	padding-right: 3px;
}

.bio-container {
	width: 100%;
	max-width: 600px;
}

.header-title {
	float: left;
	width: 100%;
	background-color: #777777 !important;
	color: white;
	border-radius: 3px;
	border: 2px solid #777777;
	vertical-align: middle;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: left;
	font-variant: small-caps;
	height: 30px;
	font-family: Arial sans-serif;
}

.list-operation-item {
	background-color: #F5F5F5;
	border: 1px solid silver;
}

.list-operation-item td{
	padding: 3px;
}
.content-body {
	margin-left: 0px;
	margin-top: 0px;
}

.paginator {
	vertical-align: bottom;
	height: 30px;
	width: 100%;
	float: left;
	text-align: center;
}

.paginator>ul {
	display: table-cell !important;
}

.pagination-sm>li {
	width: 20px;
	font-size: 14px;
	display: inline-block;
}

.pager li>a:hover, .pager li>a:focus {
	font-size: 11px !important;
}

table {
	float: left;
	position: relative;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
}

.controllerCntainer {
}

.icon-small {
	width: 16px;
	height: 16px;
}

.icon-left {
	margin-left: 10px;
}

.form-container {
	margin: 10px;
}

.accordion-element {
	width: auto;
	background-color: #EEEEEE !important;
}

.content-body-upper {
	margin-left: 10px;
	width: 100%;
	vertical-align: middle;
}

.form-element{
	 margin: auto 10px;
}