<div ng-controller="AccountController as accCtrl"
	class="controllerCntainer">
	<div class="bio-container">
		<div class="header-title">
			<span class="col-sm-2 col-xs-2" ng-click="addCtrl.goToPrevious()"><</span>
			<span class="col-sm-8 col-xs-8">{{"accounts.list.title" | translate}}</span>
			<span class="col-sm-2 col-xs-2 disconnect-button"><a ng-click="accCtrl.logout()" class="glyphicon glyphicon-off"></a></span>
		</div>
		<div id="form-container" class="form-container">
			<span class="col-sm-6">{{"accounts.list.choose" | translate}}</span>
			<form style="text-align: left;" name="form" ng-submit="addCtrl.saveOrUpdateOperation(form)">
				<select ng-model="accCtrl.accountName"
					ng-options="account.name for account in accCtrl.availableAccounts"
					ng-change="accCtrl.selectAccount()">
				</select>
			</form>
		</div>
	</div>
</div>