<mat-card>
  <mat-card-header>{{operation.id ? 'Edit' : 'New' }} operation {{operation | json}} </mat-card-header>
  <mat-card-content>
    <form>
      <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile colspan="3">
          <mat-form-field>
            <input matInput name="amount" placeholder="Amount" [(ngModel)]="operation.amount">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-50p">
            <mat-select placeholder="Currency" name="currency" [(ngModel)]="operation.currency">
              <mat-option *ngFor="let cur of currencies" [value]="cur.code">
                {{cur.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="w-50p">
              <mat-select placeholder="Type" name="type" [(ngModel)]="operation.type">
                <mat-option *ngFor="let cur of operationTypes" [value]="cur">
                  {{cur.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

        <mat-grid-tile colspan="4">
            <input [matDatepicker]="myDatepicker" placeholder="Operation date" [(ngModel)]="operation.effectiveDate" name="effectiveDate">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <mat-form-field class="w-100p">
            <mat-select placeholder="Category" name="firstLevelCategories" [(ngModel)]="chosenCategories[0]"
              (selectionChange)="onSelectCategory(0)">
              <mat-option *ngFor="let category of availableCategories[0]" [value]="category">
                {{category.nomenclature}} - {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" *ngIf="chosenCategories[0].id">
          <mat-form-field class="w-100p">
            <mat-select placeholder="Category" name="secondLevelCategories" [(ngModel)]="chosenCategories[1]"
              (selectionChange)="onSelectCategory(1)">
              <mat-option *ngFor="let category of availableCategories[1]" [value]="category">
                {{category.nomenclature}} - {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" *ngIf="chosenCategories[1].id">
          <mat-form-field class="w-100p">
            <mat-select placeholder="Category" name="thirdLevelCategories" [(ngModel)]="chosenCategories[2]"
              (selectionChange)="onSelectCategory(2)">
              <mat-option *ngFor="let category of availableCategories[2]" [value]="category">
                {{category.nomenclature}} - {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" *ngIf="chosenCategories[2].id">
          <mat-form-field class="w-100p">
            <mat-select placeholder="Category" name="fourthLevelCategories" [(ngModel)]="chosenCategories[3]">
              <mat-option *ngFor="let category of availableCategories[3]" [value]="category">
                {{category.nomenclature}} - {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <mat-form-field class="w-100p">
            <mat-select placeholder="Emitter" [(ngModel)]="operation.emitter" name="emitter">
              <mat-option *ngFor="let em of entities" [value]="em">
                {{em.type=='user'? em.firstName+' '+em.lastName : em.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <mat-form-field class="w-100p">
            <mat-select placeholder="Receiver" [(ngModel)]="operation.receiver" name="receiver">
              <mat-option *ngFor="let em of entities" [value]="em">
                {{em.type=='user'? em.firstName+' '+em.lastName : em.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-radio-group [(ngModel)]="operation.discriminator" name="discriminator">
          <mat-grid-tile colspan="2">
            <mat-radio-button value="O">Normal</mat-radio-button>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <mat-radio-button value="T">Temporary</mat-radio-button>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-radio-button value="R">Regular</mat-radio-button>
          </mat-grid-tile>
        </mat-radio-group>

        <div *ngIf="operation.discriminator == 'R'">
          <mat-grid-tile colspan="4">
            <h4>Regular operation</h4>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <label> Every&nbsp;</label>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">

            <input matInput type="number" name="interval" placeholder="Interval" [(ngModel)]="operation.interval.interval">

          </mat-grid-tile>
          &nbsp;
          <mat-grid-tile colspan="1">

            <mat-select placeholder="Unit" name="unit" [(ngModel)]="operation.interval.unit">
              <mat-option [value]="12">Minute</mat-option>
              <mat-option [value]="10">Hour</mat-option>
              <mat-option [value]="5">Day</mat-option>
              <mat-option [value]="3">Week</mat-option>
              <mat-option [value]="2">Month</mat-option>
            </mat-select>

          </mat-grid-tile>
          <mat-grid-tile colspan="1">
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <input class="w-50p" [matDatepicker]="myFirstDatepicker" placeholder="Start date" [(ngModel)]="operation.interval.first"
              name="firstDate">
            <mat-datepicker-toggle [for]="myFirstDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myFirstDatepicker></mat-datepicker>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <input class="w-50p" [min]="operation.interval.first" [matDatepicker]="myLastDatepicker" placeholder="End date"
              [(ngModel)]="operation.interval.last" name="lastDate">
            <mat-datepicker-toggle [for]="myLastDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myLastDatepicker></mat-datepicker>
          </mat-grid-tile>
        </div>
        <div *ngIf="operation.discriminator == 'T'">
          <mat-grid-tile colspan="4">
            <h4>Temporary operation : Refunds</h4>
          </mat-grid-tile>
          <div *ngFor="let refund of operation.reimbursments">
            <mat-grid-tile colspan="2">
              <input class="w-50p" [matDatepicker]="reimbursmentDate" placeholder="Start date" [(ngModel)]="refund.reimbursmentDate"
                name="firstDate">
              <mat-datepicker-toggle [for]="reimbursmentDate"></mat-datepicker-toggle>
              <mat-datepicker #reimbursmentDate></mat-datepicker>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <input class="w-50p" placeholder="Amount" [(ngModel)]="refund.reimbursedAmount" name="reimbursedAmount">
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <i class="material-icons"> save </i>
            </mat-grid-tile>
          </div>
          <mat-grid-tile colspan="2">
              <input class="w-50p" [matDatepicker]="reimbursmentDate" placeholder="Start date" [(ngModel)]="refund.reimbursmentDate"
                name="firstDate">
              <mat-datepicker-toggle [for]="reimbursmentDate"></mat-datepicker-toggle>
              <mat-datepicker #reimbursmentDate></mat-datepicker>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <input class="w-50p" placeholder="Amount" [(ngModel)]="refund.reimbursedAmount" name="reimbursedAmount">
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <i class="material-icons" (click)="saveRefund()"> save </i>
            </mat-grid-tile>
        </div>

        <mat-grid-tile colspan="2">
          <button mat-raised-button color="primary" (click)="saveOperation()">Save</button>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <button mat-raised-button color="basic" (click)="reset()">Reset</button>
        </mat-grid-tile>
      </mat-grid-list>


    </form>
  </mat-card-content>
</mat-card>
<mat-grid-tile colspan="1">
  <label> Refunds&nbsp;</label>
</mat-grid-tile>
<mat-grid-tile colspan="3">
</mat-grid-tile>